<%= form_with(model: team) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :student_emails, "Add all emails of students (who already have an acount).
    Separate by white space." %><br/>
    <%= form.text_area :student_emails, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
