<h1>Editing Team</h1>

<%= render 'form', team: @team %>

<br>
<p>
  <h4><strong>Students:</strong></h4>
<% @team.students.each do |student|%>
  <ul>
  <li><%= student.Fname %> <%= student.Lname %> | <%= student.email %></li>
  </ul>
  <% end %>
</p>
<br>

  <table>
<% @students.each do |student| %>
      <tr>
        <td><%= student.Fname %></td>
        <td><%= student.Lname %></td>
        <td><%= student.email %></td>
        <td><%= student.id %></td>
        <%if !(@team.students.include? student)%>
        <td><%= link_to 'Add',controller: "team", action:"add", team_id: @team.id, student_id: student.id%></td>
        <%else%>
        <td><%= link_to 'Remove',controller: "team", action:"remove", team_id: @team.id, student_id: student.id%></td>
        <%end%>
      </tr>
    <% end %>
</table>
<br>

<%= link_to 'Show', @team %> |
<%= link_to 'Back', teams_path %>

<%
 if current_user.role == User.roles.keys[0] 
  controller.redirect_to '/static_pages'
  if !Student.exists?(:email => current_user.email)
    controller.redirect_to '/students/new'
  end
end
%>