<h1>Editing Team</h1>

<%= render 'form', team: @team %>

  <table>
<% @students.each do |student| %>
      <tr>
        <td><%= student.Fname %></td>
        <td><%= student.Lname %></td>
        <td><%= student.email %></td>
        <td><%= student.id %></td>
<<<<<<< HEAD
        <td><%= link_to 'Add', :controller =>'teams', :action => 'add', :id => @team.id, :student_id => student.id %>/td>

=======
        <td><%= link_to 'Add', {controller: "teams", action: :add, :student_id => student.id}%></td>
>>>>>>> 800b2c6cd3e1e8053e6d0df343fd354871946306
      </tr>
    <% end %>
</table>

<%= link_to 'Show', @team %> |
<%= link_to 'Back', teams_path %>

<%
 if current_user.role == User.roles.keys[0] 
  controller.redirect_to '/static_pages'
  if !Student.exists?(:email => current_user.email)
    controller.redirect_to '/students/new'
  end
end
%>