<div class="container">




<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Students:</strong>
  <% @team.students.each do |student|%>
  <ul>
  <li><%= student.Fname + " " + student.Lname + "\n"%></li>
  </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Team', teams_path %>

<%
 if current_user.role == User.roles.keys[0] 
  controller.redirect_to '/static_pages'
  if !Student.exists?(:email => current_user.email)
    controller.redirect_to '/students/new'
  end
end
%></div>