<div class="center jumbotron">
<h1>
<% if user_signed_in? %>
    Hi <%= current_user.email%>! 
<% end %>
Welcome to GoodPET (Good Peer Evaluation Tool)</h1>
<h2>

</h2>
<%= link_to "Manage Students", '../students', class: "btn btn-lg btn-primary" %>
<%= link_to "Manage Teams", '../teams', class: "btn btn-lg btn-primary" %>
<%= link_to "Manage Projects", '../projects', class: "btn btn-lg btn-primary" %>
<%= link_to "Give Reviews", '../reviews', class: "btn btn-lg btn-primary" %>
</div>