<p id="notice"><%= notice %></p>

<div class="container">

        <div class="mt-3 p-5 bg-primary text-white text-center rounded">
            <h1>Students</h1>
    <p>Here is the student page.</p>
          </div>

<br>

 <div class="row">
<% @students.each do |student| %>
<div class="col-2 d-flex align-items-stretch">
            <div class="card w-100 text-dark bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Student <%= student.id %></div>
                <div class="card-body">
                  <h5 class="card-title"><strong><%= student.Fname %> <%= student.Lname %></strong><br></h5>
                  <p class="card-text"><%= student.email %></p>
        
                  <%= link_to 'Show', student %>
                
                </div>
              </div>
        </div>
    <% end %>

 </div>

<%
 if current_user.role == User.roles.keys[0] 
 if !Student.exists?(:email => current_user.email)
        controller.redirect_to '/students/new'
        else
        controller.redirect_to '/'
    end
    end
%>
