<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @student.Fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @student.Lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Teams:</strong>
  <% @student.teams.each do |team|%>
  <ul>
  <li><%= team.name %></li>
  </ul>
  <% end %>
</p>

<%if @student.email == current_user.email%>
  <%= link_to 'Edit', edit_student_path(@student) %> |
  <%= link_to 'Destroy', @student, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%end%>
<%= link_to 'Back', students_path %>

<%
 if current_user.role == User.roles.keys[0] && !Student.exists?(:email => current_user.email)
        controller.redirect_to '/students/new'
    end
%>
