<p id="notice"><%= notice %></p>

<div class="container">

        <div class="mt-3 p-5 bg-primary text-white rounded">
            <h1><%= @student.Fname %> <%= @student.Lname %></h1>
    <p><%= @student.email %></p>
    <p>
  <strong>Teams:</strong>
  <% @student.teams.each do |team|%>
  <ul>
  <li><%= team.name %></li>
  </ul>
  <% end %>
</p>
<%if @student.email == current_user.email%>
  <%= link_to 'Edit', edit_student_path(@student) %> |
  <%= link_to 'Destroy', @student, method: :delete, data: { confirm: 'Are you sure?' } %>
<%end%>

          </div>
</div>


<%
 if current_user.role == User.roles.keys[0] && !Student.exists?(:email => current_user.email)
        controller.redirect_to '/students/new'
    end
%>
