<h1>Editing Project</h1>

<%= render 'form', project: @project%>

<br>
<p>
  <h4><strong>Teams:</strong></h4>
<% @project.teams.each do |team|%>
  <ul>
  <li><%= team.name %></li>
  </ul>
  <% end %>
</p>
<br>


<table>
<% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <%if !(@project.teams.include? team)%>
        <td><%= link_to 'Add',controller: "project", action:"add", project_id: @project.id, team_id: team.id%></td>
        <%else%>
        <td><%= link_to 'Remove',controller: "project", action:"remove", project_id: @project.id, team_id: team.id%></td>
        <%end%>
      </tr>
    <% end %>
</table>
<br>

<%= link_to 'Show', @project %> |
<%= link_to 'Projects', projects_path %>

<%
 if current_user.role == User.roles.keys[0] 
  controller.redirect_to '/static_pages'
  if !Student.exists?(:email => current_user.email)
    controller.redirect_to '/students/new'
  end
end
%>