<p id="notice"><%= notice %></p>

<div class="col">
  <div class="jumbotron">
    <h1>Projects</h1>
    <p>This is an ...</p>
  </div></div>

<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <% if current_user.admin? %>
      <th>Assigned Team</th>
      <% end %>
      <th colspan="3">Details</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.desc %></td>
        <% if current_user.admin? %>
        <td>
        <% project.teams.each do |team|%>
           <%= link_to team.name, Team.find_by(id: team.id) %><br>
        <% end %>
        </td>
        <% end %>
        <td>
        <% if current_user.admin? %>
        <%= link_to 'Show', project %> |
        <%= link_to 'Edit', edit_project_path(project) %> |
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% else %>
        <%= link_to 'Give a review', :controller => "review", :action => "new", :project_id => project.id %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if current_user.admin? %>
<%= link_to 'New Project', new_project_path %>
<%end%>

<%
if !current_user.admin? && !Student.exists?(:email => current_user.email)
    controller.redirect_to '/students/new'
  end
%>
