<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"Enter the id of the project." %>
    <p><strong> Here are the projects you are currently assigned: </strong></p>
    <table>
    <tr>
      <td><strong>Project Name</strong></td>
      <td><strong>Project id</strong></td>
      <td><strong>Assigned Teams</strong></td>
    </tr>
    <% projects = [] %>
    <% @student.teams.each do |team| %>
    <% team.projects.each do |project| %>
    <% if !(projects.include? project) %>
    <% projects << project %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.id %></td>
        <td>
        <% project.teams.each do |t| %>
        team_name: <%= t.name %>, team_id: <%= t.id %>  |
        <% end %>
        </td>
      </tr>
    <% end %>
    <% end %>
    <% end %>
    </table>
    <%= form.number_field :project_id %>
  </div>

  <div class="field">
    <%= form.label :"Enter the id of the teammate you would like to leave a review for:"%>
    <table>
    <tr>
      <td><strong>Last Name</strong></td>
      <td><strong>First Name</strong></td>
      <td><strong>Email</strong></td>
      <td><strong>Student id</strong></td>
      <td><strong>Teams Info</strong></td>
    </tr>
    <% teammates = [] 
    me = Student.find_by(email: current_user.email)
    %>
    <tr>
      <td><%= me.Fname %></td>
      <td><%= me.Lname %></td>
      <td><%= me.email %></td>
      <td><%= me.id %></td>
      <td>
      <% me.teams.each do |t| %>
      team_name: <%= t.name %>, team_id: <%= t.id %>  |
      <% end %>
       </td>
    </tr>


    <% @teams.each do |team| %>
    <% team.students.each do |student| %>
    <% if !(teammates.include? student) && student.email != current_user.email %>
    <% teammates << student %>
      <tr>
        <td><%= student.Fname %></td>
        <td><%= student.Lname %></td>
        <td><%= student.email %></td>
        <td><%= student.id %></td>
        <td>
        <% student.teams.each do |t| %>
        team_name: <%= t.name %>, team_id: <%= t.id %>  |
        <% end %>
        </td>
      </tr>
    <% end %>
    <% end %>
    <% end %>
    </table>
    <%= form.number_field :written_for_id %>
  </div>

  <div class="field">
    <%= form.label :personalscore %>
    <%= form.number_field :personalscore %>
  </div>

  <div class="field">
    <%= form.label :workscore %>
    <%= form.number_field :workscore %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
