<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<table class="table">
  <thead>
    <tr>
    <% if current_user.role == User.roles.keys[1]%>
      <th>written_for_id</th>
      <th>written_for_email</th>
      <%end%>
      <th>Project Number</th>
      <th>Teamwork Score</th>
      <th>Work score</th>
      <th>Comment</th>
      <th>Details</th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <% if current_user.role == User.roles.keys[1] || review.written_for_id == Student.find_by(email: current_user.email).id %>
      <tr>
      <% if current_user.role == User.roles.keys[1]%>
        <td><%= review.written_for_id %></td>
        <td><%= Student.find_by(id: review.written_for_id).email %></td>
      <%end%>
        <td><%= review.project_id %></td>
        <td><%= review.personalscore %></td>
        <td><%= review.workscore %></td>
        <td><%= review.comment %></td>
        <td><%= link_to 'Show', review %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.role != User.roles.keys[1] %>
<%= link_to 'New Review', new_review_path %>
<%end%>

<%
if current_user.role == User.roles.keys[0] && !Student.exists?(:email => current_user.email)
    controller.redirect_to '/students/new'
end
%>
