<p id="notice"><%= notice %></p>

<p>
  <strong>Projectno:</strong>
  <%= @review.project_id %>
</p>

<p>
  <strong>Written To:</strong>
  <% student = Student.find_by(id: @review.written_for_id)%>
  <%= student.Fname + " " + student.Lname %>
</p>

<p>
  <strong>Personalscore:</strong>
  <%= @review.personalscore %>
</p>

<p>
  <strong>Workscore:</strong>
  <%= @review.workscore %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>